body{
    background-image: url("/assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/**************application.hbs******************/
nav{ 
    background-color: darkcyan;
    margin: 0px;
    width: 100%;
    padding: 5px 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navitem{
    font-size: medium;
    color: white;
    text-decoration: none;
    font-family: 'Calistoga', cursive;
    padding: 5px;
}

.navitem:hover{
    background-color: white;
    color: darkcyan;
}

.g-logo{
    height: 30px;
    /* border: solid;
    border-color: green;
    padding: 0; */
}

.sign-in-button{/*Sign in button*/
    background-color: aliceblue;
    border: solid;
    border-radius: 10px;
    border-color: lime;
    cursor: pointer;
    padding: 0;
}

.sign-in-button:hover{
    animation: myanimation 2s infinite;
}

.sign-out-button{
    background-color: aliceblue;
    border: solid;
    border-radius: 10px;
    border-color: red;
    cursor: pointer;
    padding: 0;
}

.sign-in-name{
    font-family: 'Calistoga', cursive;
    color: white;
    text-decoration: underline;
    font-size: small;
}

.foot{ /*footer css*/
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 5px;
    z-index: 100%;
    margin-top: 10px;
}
/**********************************************/

/******************index.hbs******************/
.container{ /*container for the fridge and form*/
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.firstfill{ /*form on top of the fridge*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img{ /*fridge image*/
    width: 20%;
    border-radius: 25px;
}

input{
    border-radius: 5px;
    background-color: lightblue;
    color: black;
    font-family: 'Acme', sans-serif;
}

input::placeholder{
    color: gray;
}

select{
    border-radius: 5px;
    background-color: lightblue;
    font-family: 'Acme', sans-serif;
}

.options{ /*text for the labels in the form*/
    text-align: center;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.search-button{
    background-color: lightblue;
    font-weight: bold;
    color:black;
    border: solid;
    border-color: darkcyan;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover{
    background-color: darkcyan;
    border-color: lightblue;
    color: white;

}
/**********************************************/

/******************results.hbs****************/
.form2{ /*horizontal form below the header*/
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.85);
}

.formtwo li {
    display: inline-block;
    list-style-image: none;
}

.ing{/*ingredient label and input*/
    order: 1;
    margin-right: 5px;
}

.allergies{ /*allergy label and input*/
    order: 2;
}

.diet{ /*diet label and input*/
    order: 3;
    margin-right: 5px;
}

.mealtype{ /*mealtype label and input*/
    order: 4;
    margin-right: 5px;
}

.results{ /*all results container*/
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.85);
    width: 70%;/**/
}

.resitem{ /*container for specific results*/
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    flex: 1 1 0px;
    border-bottom: dotted;
    border-color: black;
}

.resultimg{ /*specific result image*/
    order: 1;
    margin-right: 5px;
    height: 200px;
    flex: 1 1 0px;
}

.resultname{ /*specific result name*/
    order: 2;
    margin-right: 5px;
    flex: 1 1 0px;
}

.resulting{ /*specific result ingredients*/
    order: 3;
    flex: 1 1 0px;
}

.calories{ /*specific result calories*/
    order: 4;
    flex: 1 1 0px;
    justify-content: flex-end;
}
/**********************************************/

/*****************details.hbs*****************/
.details-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.85);
    width: 70%;
}

.details-info-container1{
    flex-direction: column;
}

.details-info-container2{
    flex-direction: column;
}

.details-image{
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.save{
    background-color: green;
    color: white;
    border: solid;
    border-color: darkgreen;
    border-radius: 5px;
    font-weight: bold;
}

.unsave{
    background-color: red;
    color: white;
    border: solid;
    border-color: darkred;
    border-radius: 5px;
    font-weight: bold;
}

.cooking-instruction-but{
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    border: solid;
    border-radius: 5px;
    border-color: darkcyan;
}
/**********************************************/

/*******************media query***************/
@media only screen and (max-width: 450px){
    .navbar{
        padding: 0;
    }

    .sign-in-name{
        margin: 7px 0px;;
    }

    .options{
        font-size: medium;
    }
    
    .img{
        width: 70%;
    }
    
    .form2{
        flex-direction: column;
    }

    .formtwo li{
        display: inline;
    }

    .results{
        width: 90%;
    }

    .resitem{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .details-container{
        flex: 1 1 0px;
        width: 90%;
    }
}
/**********************************************/

@keyframes myanimation {
    0% {border-color: blue;}
    25% {border-color: red}
    50% {border-color:goldenrod;}
    75% {border-color: green;}
}