body{
    background-image: url("/assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*application.hbs*/
.navbar{ 
    background-color: darkgreen;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
}

.navitem{
    font-weight: bold;
    font-size: medium;
    color: white;
    text-decoration: none;
}

.navitem:hover{
    background-color: white;
    color: darkslateblue;
}

.sign{/*Sign in button*/
    background-color: aliceblue;
    border: solid;
    border-radius: 5px;
    border-color: black;
    padding: 5px;
    align-self: flex-end;
}

.foot{ /*footer css*/
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 5px;
    z-index: 100%;
    margin-top: 10px;
}
/**/

/*index.hbs*/
.container{ /*container for the fridge and form*/
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.firstfill{ /*form on top of the fridge*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img{ /*fridge image*/
    width: 20%;
}

.options{ /*text for the labels in the form*/
    text-align: center;
}
/**/

/*results.hbs*/
.form2{ /*horizontal form below the header*/
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.formtwo li {
    display: inline-block;
    list-style-image: none;
}

.ing{/*ingredient label and input*/
    order: 1;
    margin-right: 5px;
}

.allergies{ /*allergy label and input*/
    order: 2;
}

.diet{ /*diet label and input*/
    order: 3;
    margin-right: 5px;
}

.mealtype{ /*mealtype label and input*/
    order: 4;
    margin-right: 5px;
}

.submit2{ /*submit button*/
    order: 5;
}

.results{ /*all results container*/
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3)
}

.resitem{ /*container for specific results*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.resultimg{ /*specific result image*/
    order: 1;
    border-right: solid;
    border-color: red;
    margin-right: 5px;
    width: 50px;
    height: 50px;
}

.resultname{ /*specific result name*/
    order: 2;
    border-right: solid;
    border-color: red;
    margin-right: 5px;
}

.resulting{ /*specific result ingredients*/
    order: 3;
    border-right: solid;
    border-color: red;
}

.calories{ /*specific result calories*/
    order: 4;
}
/**/

/*media query*/
@media only screen and (max-width: 450px){
    .img{
        width: 70%;
    }
    
    .form2{
        flex-direction: column;
    }

    ul li{
        display: inline;
    }

    .resitem{
        flex-direction: column;
        flex-wrap: wrap;
    }
}