<div class="presentation-div">
<iframe src="https://cixcsicuny-my.sharepoint.com/personal/luis_carazas_cix_csi_cuny_edu/_layouts/15/Doc.aspx?sourcedoc={4ca725ac-f4ea-495c-8442-69fc70247334}&amp;action=embedview&amp;wdAr=1.7777777777777777" frameborder="0">
This is an embedded 
<a target="_blank" href="https://office.com">Microsoft Office</a>
presentation, powered by 
<a target="_blank" href="https://office.com/webapps">Office</a>.
</iframe>
</div>