<nav class="navbar">
    <a href="/" class="navitem">Home</a>
    <a href="results" class="navitem">About</a>
    <a href="favorites" class="navitem">Favorites</a>
    <button class="sign">Sign in</button>
</nav>

<footer class="foot">Footer</footer>

{{outlet}}