<div class="container animated bounceInDown delay-1s">
<img src="/assets/closed.jpg" alt="closed fridge" class="img">
<form class="firstfill">
    <p class="options"><label for="ing">Ingredients: </label></p>
        <input type="text" placeholder="chicken, rice, cucumber..." id="ing">
    
    <p class="options"><label for="allergies">Allergies: </label></p>
        <select id="allergies">
            <option value="">--Select--</option>
            <option>dummy1</option>
            <option>dummy2</option>
            <option>dummy3</option>
            <option>dummy4</option>
            <option>dummy5</option>
        </select>
    
    <p class="options"><label for="diet">Diet: </label></p>
        <select id="diet">
            <option>--Select--</option>
            <option>dummy1</option>
            <option>dummy2</option>
            <option>dummy3</option>
            <option>dummy4</option>
            <option>dummy5</option>
        </select>
    
    <p class="options"><label for="mealtype">Meal Type: </label></p>
        <select id="mealtype">
            <option>--Select--</option>
            <option>Breakfast</option>
            <option>Brunch</option>
            <option>Lunch</option>
            <option>Dinner</option>
        </select>
    
    <p><input type="submit" value="GO" class="submit"></p>
</form>
</div>

{{outlet}}