<form class="form2">
    <ul>
    <li>
        <div class="ing">
            <label for="ing">Ingredients: </label>
            <input type="text" id="ing">
        </div>
    </li>

    <li>
        <div class="allergies">
        <label for="allergies">Allergies:
            <select id="allergies">
                <option value="">--Select--</option>
                <option>dummy1</option>
                <option>dummy2</option>
                <option>dummy3</option>
                <option>dummy4</option>
                <option>dummy5</option>
            </select>       
        </label>
        </div>
    </li>
    
    <li>
        <div class="diet">
        <label for="diet">Diet
            <select id="diet">
                <option>--Select--</option>
                <option>diet1</option>
                <option>diet2</option>
                <option>diet3</option>
                <option>diet4</option>
                <option>diet5</option>
            </select>
        </label>
        </div>
    </li>

    <li>
        <div class="mealtype">
        <label for="mealtype">Meal Type:
            <select id="mealtype">
                <option>--Select--</option>
                <option>Breakfast</option>
                <option>Brunch</option>
                <option>Lunch</option>
                <option>Dinner</option>
            </select>
        </label>
        </div>
    </li>

    <li>
        <input type="submit" value="GO" class="submit2"> 
    </li>   
    </ul>
</form>

<div class="results">
    <div class="resitem">
        <img class="resultimg" src="https://placehold.it/100/100" alt="100 x 100">
        <h4 class="resultname">Name of Plate</h4>
        <p class="resulting">Ingredients blahblah</p>
        <p class="calories">Calories: 900000000000</p>
    </div>

    <div class="resitem">
        <img class="resultimg" src="https://placehold.it/100/100" alt="100 x 100">
        <h4 class="resultname">Name of Plate</h4>
        <p class="resulting">Ingredients blahblah</p>
        <p class="calories">Calories: 900000000000</p>
    </div>

    <div class="resitem">
        <img class="resultimg" src="https://placehold.it/100/100" alt="100 x 100">
        <h4 class="resultname">Name of Plate</h4>
        <p class="resulting">Ingredients blahblah</p>
        <p class="calories">Calories: 900000000000</p>
    </div>

    <div class="resitem">
        <img class="resultimg" src="https://placehold.it/100/100" alt="100 x 100">
        <h4 class="resultname">Name of Plate</h4>
        <p class="resulting">Ingredients blahblah</p>
        <p class="calories">Calories: 900000000000</p>
    </div>

    <div class="resitem">
        <img class="resultimg" src="https://placehold.it/100/100" alt="100 x 100">
        <h4 class="resultname">Name of Plate</h4>
        <p class="resulting">Ingredients blahblah</p>
        <p class="calories">Calories: 900000000000</p>
    </div>

    <div class="resitem">
        <img class="resultimg" src="https://placehold.it/100/100" alt="100 x 100">
        <h4 class="resultname">Name of Plate</h4>
        <p class="resulting">Ingredients blahblah</p>
        <p class="calories">Calories: 900000000000</p>
    </div>
    <div class="resitem">
        <img class="resultimg" src="https://placehold.it/100/100" alt="100 x 100">
        <h4 class="resultname">Name of Plate</h4>
        <p class="resulting">Ingredients blahblah</p>
        <p class="calories">Calories: 900000000000</p>
    </div>
</div>

{{outlet}}